WpfTestReadData/Connected Services/ReadingServiceReference/ReadService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ReadService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50766/ReadService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50766/ReadService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50766/ReadService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IReadService_GetHousdetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHousdetails" />
  </wsdl:message>
  <wsdl:message name="IReadService_GetHousdetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHousdetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IReadService_GetHouseDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHouseDetails" />
  </wsdl:message>
  <wsdl:message name="IReadService_GetHouseDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHouseDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="IReadService">
    <wsdl:operation name="GetHousdetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadService/GetHousdetails" message="tns:IReadService_GetHousdetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadService/GetHousdetailsResponse" message="tns:IReadService_GetHousdetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHouseDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IReadService/GetHouseDetails" message="tns:IReadService_GetHouseDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IReadService/GetHouseDetailsResponse" message="tns:IReadService_GetHouseDetails_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IReadService" type="tns:IReadService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetHousdetails">
      <soap:operation soapAction="http://tempuri.org/IReadService/GetHousdetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHouseDetails">
      <soap:operation soapAction="http://tempuri.org/IReadService/GetHouseDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ReadService">
    <wsdl:port name="BasicHttpBinding_IReadService" binding="tns:BasicHttpBinding_IReadService">
      <soap:address location="http://localhost:50766/ReadService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>